.entriesContainer,
.inOutEntries {
  display: flex;
}

.green {
  color: green;
}

.red {
  color: red;
}

.addBtn {
}

.firstFieldset,
.secondFieldset {
  background-color: floralwhite;
}

.gridBox {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
}

.pickIncome {
  grid-column: 1 / 3;
}

.pickExpense {
  grid-column: 3 / 9;
}

.inputContainer {
  padding: 20px;
  background-color: bisque;
}

.gridAmount,
.gridDesc {
  display: flex;
  padding-bottom: 20px;
}
