/*
.incomeAndExpense,
.calculatingContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.incomeContainer,
.expenseContainer {
  display: flex;
  justify-content: space-between;
}

/*BUTTONS
.btnStyle {
  width: 70px;
  margin-left: 20px;
}*/

.inputContainer {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

fieldset {
  width: 50%;
  padding: 30px;
}

#addBtn {
  margin-top: 20px;
}

.resultContainer {
  display: flex;

  padding-bottom: 70px;
}

.resultLabel {
  width: 300px;
}
