.entriesContainer,
.inOutEntries {
  display: flex;
}

.green {
  color: green;
}

.red {
  color: red;
}

.pickIncome,
.pickExpense {
  padding: 20px;
}

.inputContainer {
  padding: 20px;
}

.addBtn {
  margin: 20px;
}

.firstFieldset,
.secondFieldset {
  background-color: floralwhite;
}

.gridBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
