.firstFieldset,
.secondFieldset {
  background-color: floralwhite;
}

.gridBox {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
}

.pickIncome {
  grid-column: 1 / 2;
}

.pickExpense {
  grid-column: 2 / 9;
}

.inputContainer {
  padding: 20px;
  background-color: bisque;
}

.entriesContainer,
.inOutEntries,
#incomeEntries {
  display: flex;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
}

.entriesContainer {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

#incomeEntries {
  grid-column: 1 / 5;
}

#outgoingEntries {
  grid-column: 5 / 9;
}

.green {
  color: green;
  grid-column: 1 / 4;
}

.red {
  color: red;
  grid-column: 5 / 9;
}

.gridAmount,
.gridDesc {
  display: flex;
  padding-bottom: 20px;
}

.deleteBtn {
  margin-left: 20px;
}

.entry {
  grid-column: span 9;
}
