.firstFieldset,
.secondFieldset {
  background-color: seashell;
}

.fieldsetContainer {
  display: flex;
  gap: 30px;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  font-style: normal;
}

.pickIncome {
  padding-bottom: 20px;
}
.inputContainer,
.radioBtnBox {
  padding: 20px;
  background-color: gainsboro;
  grid-column: 3 / 9;
  margin-bottom: 70px;
}

.entriesContainer,
.inOutEntries,
#incomeEntries {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
}

.entriesContainer {
  border-bottom: 1px solid black;
  padding-bottom: 20px;

  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  font-style: normal;
}

#incomeEntries {
  grid-column: 1 / 5;
}

#outgoingEntries {
  grid-column: 5 / 9;
  border-left: 1px solid black;
  padding-left: 20px;
  display: grid;
  gap: 1rem;
}

.green {
  color: green;
  grid-column: 1 / 4;
  font-weight: 700;
}

.red {
  color: red;
  grid-column: 5 / 9;
  padding-left: 20px;
  font-weight: 700;
}

.gridAmount,
.gridDesc {
  display: flex;
  padding-bottom: 20px;
}

.deleteBtn {
  margin-left: 20px;
}

.entry {
  grid-column: span 9;
}

h1 {
  font-family: "Sigmar One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  padding-left: 20px;
}

h2 {
  font-family: "Sigmar One", sans-serif;
  font-style: normal;
}

h3,
.green,
.red {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h4 {
  display: inline;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-size: 2rem;
  font-style: normal;
}

p {
  display: inline;
}

#saldoValue {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}

.inOutEntries {
  padding-bottom: 50px;
}
