.incomeAndExpense,
.calculatingContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.incomeContainer,
.expenseContainer {
  display: flex;
  justify-content: space-between;
}
